/* Editorial */

h1 {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    margin-top: 60px;
    margin-bottom: 20px;
}

h2 {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 30px;
}


h4 {
    font-size: 10px;
    line-height: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

p {
    color: #636363;
    line-height: 20px;
}

a {
    text-decoration: none;
    color: #3facef;
}

a.more {
    text-transform: uppercase;
    font-size: 10px;
    text-decoration: underline;
    margin-top: 20px;
}

ol li {
    counter-increment: step-counter;
}

ol li::before {
    content: counter(step-counter);
    display: inline;
}