@import url('css/reset.css');
@import url('css/reticula.css');
@import url('css/editorial.css');
@import url('css/secciones.css');
@import url('css/formas.css');
@import url('css/layout.css');

html, body {
    color: #282828;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}



